openapi: 3.0.0
info:
  title: Dataflow Kit Web Scraper
  description: |-
    Render Javascript driven pages, while we internally manage Headless Chrome and proxies for you.

    - Build a custom web scraper with our Visual point-and-click toolkit.
    - Scrape the most popular Search engines result pages (SERP).
    - Convert web pages to PDF and capture screenshots.

    Dataflow Kit API needs to be authenticated by passing a secret API Key to all API requests to the server as the `api_key` query parameter.
    The API Key can be found in the [DFK Dashboard](https://account.dataflowkit.com) after _free registration_.
  termsOfService: https://dataflowkit.com/terms
  contact:
    url: https://dataflowkit.com/
  version: "1.0"
servers:
- url: https://api.dataflowkit.com/v1
  description: Production server
security:
- ApiKeyAuth: []
tags:
- name: fetch
- name: serp
paths:
  /fetch:
    post:
      tags:
      - fetch
      summary: Download web page content
      operationId: fetch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fetchrequest'
        required: true
      responses:
        "200":
          description: Returns utf8 encoded web page content.
          content:
            text/html; charset=utf-8:
              schema:
                type: string
              example: |-
                <html>
                    <head></head>
                    <body>{
                    &#34;ip&#34;: &#34;178.171.21.156&#34;,
                    &#34;city&#34;: &#34;Singapore&#34;,
                    &#34;region&#34;: null,
                    &#34;region_code&#34;: null,
                    &#34;country&#34;: &#34;SG&#34;,
                    &#34;country_code&#34;: &#34;SG&#34;,
                    &#34;country_code_iso3&#34;: &#34;SGP&#34;,
                    &#34;country_capital&#34;: &#34;Singapore&#34;,
                    &#34;country_tld&#34;: &#34;.sg&#34;,
                    &#34;country_name&#34;: &#34;Singapore&#34;,
                    &#34;continent_code&#34;: &#34;AS&#34;,
                    &#34;in_eu&#34;: false,
                    &#34;postal&#34;: &#34;18&#34;,
                    &#34;latitude&#34;: 1.2929,
                    &#34;longitude&#34;: 103.8547,
                    &#34;timezone&#34;: &#34;Asia/Singapore&#34;,
                    &#34;utc_offset&#34;: &#34;+0800&#34;,
                    &#34;country_calling_code&#34;: &#34;+65&#34;,
                    &#34;currency&#34;: &#34;SGD&#34;,
                    &#34;currency_name&#34;: &#34;Dollar&#34;,
                    &#34;languages&#34;: &#34;cmn,en-SG,ms-SG,ta-SG,zh-SG&#34;,
                    &#34;country_area&#34;: 692.7,
                    &#34;country_population&#34;: 4701069.0,
                    &#34;asn&#34;: &#34;AS9009&#34;,
                    &#34;org&#34;: &#34;M247 Ltd&#34;
                }</body>
                </html>
      deprecated: false
  /serp:
    post:
      tags:
      - serp
      summary: Collect search results from search engines
      operationId: serp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/serprequest'
        required: true
      responses:
        "200":
          description: Returns data in the one of the follwing formats - JSON, JSON
            Lines, CSV, MS Excel, XML
          content:
            application/json:
              schema:
                type: object
              example:
              - description_text: Dataflow kit visits the web on your behalf, processes
                  Javascript driven pages in the cloud, return rendered HTML, capture
                  screenshot or save as PDF. Dataflow Kit services. Headless Chrome
                  as a service. We automate dynamic web content download using the
                  Headless Chrome browser. ...
                link_href: https://dataflowkit.com/
                link_text: Turn Websites into structured data /Dataflow kit
              - description_text: Dataflow kit ("DFK") is a Web Scraping framework
                  for Gophers. It extracts data from web pages, following the specified
                  CSS Selectors. You can use it in many ways for data mining, data
                  processing or archiving.
                link_href: https://github.com/slotix/dataflowkit
                link_text: 'GitHub - slotix/dataflowkit: Extract structured data from
                  ...'
              - description_text: The Department of Health - Abu Dhabi (DoH - Abu
                  Dhabi) leverages the DataFlow Group's specialized Primary Source
                  Verification (PSV) solutions to screen the credentials of professionals
                  working within Abu Dhabi's healthcare sector. As the regulative
                  body of the healthcare sector in Abu Dhabi, DoH - Abu Dhabi ensures
                  excellence for the ...
                link_href: https://corp.dataflowgroup.com/verification-services/start-your-verification/healthcare/department-of-health-abu-dhabi/
                link_text: Department of Health - Abu Dhabi - Dataflow Group
              - description_text: Dataflow Kit was added by slotix in Apr 2020 and
                  the latest update was made in May 2020. The list of alternatives
                  was updated Apr 2020. It's possible to update the information on
                  Dataflow Kit or report it as discontinued, duplicated or spam.
                link_href: https://alternativeto.net/software/dataflow-kit/
                link_text: Dataflow Kit Alternatives and Similar Websites and Apps
                  ...
              - description_text: Dataflow Kit Reloaded. We are so excited to introduce
                  a new, completely re-implemented Dataflow Kit. In particular, we
                  supplement our legacy custom web scraper with more focused and more
                  understandable web services for our users.
                link_href: https://blog.dataflowkit.com/
                link_text: Dataflow Kit Blog
              - description_text: The Dubai Health Authority (DHA) leverages the DataFlow
                  Group's specialized Primary Source Verification (PSV) solutions
                  to screen the credentials of professionals working within Dubai's
                  healthcare sector. The DHA is led by a mission to ensure access
                  to health services, maintain and enhance the quality of these services,
                  improve the health ...
                link_href: https://corp.dataflowgroup.com/verification-services/start-your-verification/healthcare/dubai-health-authority/
                link_text: Dubai Health Authority - Dataflow Group
              - description_text: Dataflow Kit Reloaded. We are so excited to introduce
                  a new, completely re-implemented Dataflow Kit. In particular, we
                  supplement our legacy custom web scraper with more focused and more
                  understandable web services for our users.
                link_href: https://blog.dataflowkit.com/reloaded/
                link_text: Dataflow Kit Reloaded.
              - description_text: The Dataflow Kit API allows embedding free COVID-19
                  live statistics web widget into sites. Methods provide data for
                  the USA, Spain, or the World. Developers can access live statistics
                  data through the DFK COVID-19 API for free. They can build widgets,
                  mobile apps, or integrate them into other applications.
                link_href: https://www.programmableweb.com/api/dataflow-kit-rest-api-v1
                link_text: Dataflow Kit REST API v1 | ProgrammableWeb
              - description_text: Description. Dataflow kit is a Scraping framework
                  for Gophers. DFK extracts structured data from web pages, following
                  the specified extractors. It can be used in many ways for data mining,
                  data processing or archiving.
                link_href: https://go.libhunt.com/dataflowkit-alternatives
                link_text: Dataflow kit Alternatives - Go Text Processing | LibHunt
              - description_text: Point, click and extract. Work on any interactive
                  site Scrape a website behind a login form Extract data from multiple
                  pages. Scrape infinite scrolled pages. Crawl details; Extract and
                  follow lin
                link_href: https://www.startupranking.com/dataflow-kit
                link_text: Dataflow Kit - Fast extraction of structured data from
                  ...
      deprecated: false
components:
  schemas:
    fetchrequest:
      title: Fetch request
      required:
      - type
      - url
      type: object
      properties:
        url:
          type: string
          description: Specify URL to download.
        type:
          type: string
          description: If set to `base`, the Base fetcher is used for downloading
            web page content. Use `chrome` for fetching content with a Headless chrome
            browser
          enum:
          - base
          - chrome
        proxy:
          type: string
          description: Specify proxy by adding [country ISO code](https://en.wikipedia.org/wiki/ISO_3166-2)
            to `country-` value to send requests through a proxy in the specified
            country. Use `country-any` to use random geo-targets.
          example: country-sk
        waitDelay:
          type: number
          description: Specify a wait delay (in seconds). This may be useful if certain
            elements of the web site need to be rendered after the initial page load.
            _(Chrome fetcher type only)_
        actions:
          type: array
          description: Use actions to automate manual workflows while rendering web
            pages. They simulate real-world human interaction with pages. _(Chrome
            fetcher type only)_
          items:
            $ref: '#/components/schemas/action'
          default: []
      example:
        proxy: country-any
        type: base
        url: https://ipapi.co/json/
        actions:
        - waitFor:
            waitForSelector: :root
    serprequest:
      title: SERP request
      required:
      - format
      - name
      - proxy
      - type
      - url
      type: object
      properties:
        name:
          type: string
          description: Select search engine to query.
          enum:
          - google
          - google-image
          - google-news
          - google-shopping
          - bing
          - duckduckgo
          - baidu
          - yandex
        url:
          type: string
          description: Specify URL to download.
        type:
          type: string
          description: For SERP requests you should _always_ use `chrome` type to
            fetch content with a Headless chrome browser
          example: chrome
        proxy:
          type: string
          description: Always specify proxy for sending SERP requests. Add choosen
            [country ISO code](https://en.wikipedia.org/wiki/ISO_3166-2) to `country-`
            value to send requests through a proxy in the specified country. Use `country-any`
            to use random geo-targets.
          example: country-any
      example:
        name: duckduckgo
        request:
          url: https://duckduckgo.com/?q=Dataflow+kit&ia=web
          proxy: country-any
          type: chrome
        fields:
        - name: link
          selector: .result__a
          attrs:
          - href
          - text
          type: 2
          filters:
          - name: trim
        - name: description
          selector: .js-result-snippet
          attrs:
          - text
          type: 1
          filters:
          - name: trim
        commonParent: div[id].result
        format: json
    action:
      title: Action
      type: object
      anyOf:
      - $ref: '#/components/schemas/input'
      - $ref: '#/components/schemas/click'
      - $ref: '#/components/schemas/waitFor'
      - $ref: '#/components/schemas/scroll'
    input:
      title: Input action
      type: object
      properties:
        inputSelector:
          type: string
          example: '#search-form-editbox'
        inputText:
          type: string
          example: dataflow kit
      description: Specify `Input CSS Selector` and `Input Text` to perform search
        queries, or fill forms.
    click:
      title: Click action
      type: object
      properties:
        clickSelector:
          type: string
          example: .click-me
      description: Click on an element with the specified `CSS Selector`.
    waitFor:
      title: Wait for action
      type: object
      properties:
        waitForSelector:
          type: string
          example: :root
      description: Wait for the specific DOM elements you want to manipulate.
    scroll:
      title: Scroll action
      type: object
      properties:
        paginate:
          type: string
          example: "3"
      description: scroll a page down to load more content, simulating user interaction
        with infinite scrolled pages.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: api_key
      in: query
